body {}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Accordion */
.accordion-div {
    max-width: 80%;
    transition: all ease 1s;
}

.accordion-title {
    /* padding: 10px 15px; */
    transition: background .2s ease-out;
}

.accordion-title:hover {
    /* background-color: black; */
    /* Убрать?*/
}



.accordion-item {
    border: 1px solid black;
    max-width: 100%;
    /* max-height: 100%; */
    transition: all ease 1s;
}


.accordion-input {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    transition: all ease 1s;
}

.accordion-input:checked + .accordion-meme {
    overflow: visible;
    opacity: 100%;
    height: 10rem;
}

.icon {
    background-image: url(../cssBayan/images/mug-hot-solid.svg);
    width: 20px;
    height: 20px;
}

.accordion-meme {
    overflow: hidden;
    opacity: 0;
    height: 0;
    background-image: url(../cssBayan/images/pink.jpg);
    background-size: cover;
    transition: 1s;
}

.accordion-meme.img2 {
    background-image: url(../cssBayan/images/crow.jpg);
    height: 0px;
}