@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&family=Montserrat&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 0;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Accordion */
.accordion-div {
    max-width: 90%;
    width: 90%;
    transition: all ease 1s;
}

.accordion-title {
    max-width: 80%;
    transition: background .2s ease-out;
}



.accordion-title:hover {
    /* background-color: black; */
    /* Убрать?*/
}



.accordion-item {
    border-top: 0.15rem solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    transition: all ease 1s;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.acc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.accordion-input {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    transition: all ease 1s;
}

/* .accordion-title:after {
    content: '+';
} */


.accordion-input:checked~.accordion-meme {
    overflow: visible;
    opacity: 100%;
    height: 17rem;
}

/* .accordion-input:checked~.accordion-title:after {
    content: '-';
    
} */

.accordion-input:checked~.icon {
    transition: 0.5s;
    transform: rotate(180deg);
}



/* .accordion-input:checked+.icon {
    transform: rotate(180deg);
} */

.icon {
    background-image: url(../cssBayan/images/mug-hot-solid.svg);
    transition: 0.5s;
    width: 1rem;
    height: 1rem;
}

.accordion-meme {
    width: 100%;
    overflow: hidden;
    opacity: 0;
    height: 0;
    background-image: url(../cssBayan/images/pink.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.accordion-meme.img2 {
    background-image: url(../cssBayan/images/crow.jpg);
    height: 0;
}

.accordion-meme.img3 {
    background-image: url(../cssBayan/images/kilgrave.jpg);
    height: 0;
}

.accordion-meme.img4 {
    background-image: url(../cssBayan/images/kZa2bavg5b4.jpg);
    height: 0;
}

.accordion-meme.img5 {
    background-image: url(../cssBayan/images/xas0bVP_odU.jpg);
    height: 0;
}